@model IEnumerable<Bilblioteca_LopezJuan.Models.Domain.Usuario>
<h1>
    Dashoard
</h1>

<sidebar />


<div class="row">
    <div class="offset-10 col-3 mb-3">
        <a asp-action="add" asp-controller="Usuarios" class="btn-success mx-auto btn-lg"> <i class="fa-solid fa-user"></i>Nuevo</a>
    </div>
</div>

<div class="container-fluid">
    <div class="offset-12">
        <div class="card border">
            <div class="card-header bg-dark">
                <h1 class="text-white"><strong>Lista de usuarios</strong></h1>

            </div>

            <div class="card-body">
                <div class="table-responsive">

                    @if (Model.Count() > 0)
                    {

                        <table class="table table-bordered" id="tblUsuarios" width="100%" cellspacing="0">
                            <thead>
                                <tr>

                                    <th> @Html.DisplayNameFor(x => x.Nombre) </th>
                                    <th> @Html.DisplayNameFor(x => x.UserName) </th>
                                    <th> @Html.DisplayNameFor(x => x.Password) </th>
                                    <th> @Html.DisplayNameFor(x => x.roles.Nombre) </th>

                                </tr>


                            </thead>
                            <tbody>

                                @{
                                    int i = 1;
                                }
                                @foreach (var Item in Model)
                                {


                                    <tr>

                                        <td> @Html.DisplayFor(x => Item.Nombre) </td>
                                        <td> @Html.DisplayFor(x => Item.UserName) </td>
                                        <td> @Html.DisplayFor(x => Item.Password) </td>
                                        <td> @Html.DisplayFor(x => Item.roles.Nombre) </td>

                                        <td>
                                            <a class=" btn btn-warning" asp-action="edit" asp-route-id=@Item.PkUsuario><i class="fa-solid fa-pen-to-square"></i> Editar</a>
                                            <a class=" btn btn-danger" asp-action="" asp-route-id=><i class="fa-solid fa-trash"></i> Eliminar</a>
                                        </td>

                                    </tr>


                                }

                            </tbody>

                        </table>

                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>

            </div>


        </div>


    </div>




</div>